<html>
	<head>Document</head>
	<body>
		<h1>Heading</h1>

		<form action="/index" method="POST">
			<input type="text" name="blogtitle">
			<input type="text" name="blogtext">
			<button>Submit</button>
		</form>
	</body>
</html>